.custom-input {
  --border-radius: 50px; /* Nilai border-radius yang Anda inginkan */
}

// Ganti dengan warna atau gambar latar belakang yang diinginkan
$ion-background-color: #08b6b6;

// Ganti warna teks pada latar belakang
$ion-text-color: #333333;

// Ganti warna aksen pada tombol dan elemen lainnya
$ion-color-primary: #3880ff;
$ion-color-secondary: #0cd1e8;
$ion-color-tertiary: #7044ff;
